<!-- templates/registration/password_reset_done.html -->
{% extends 'registration/login.html' %}

{% block title %}Email Sent{% endblock title %}

{% block content %}
{% load bootstrap4 %}
  <!-- <div class="container-fluid mt-4">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card">
          <div class="card-header" style="text-align: center"><h3>Check your inbox.</h3></div>
          <div class="card-body"> -->
            <!-- <h1>Check your inbox.</h1> -->
            <!-- <p>We've emailed you instructions for setting your password.
                You should receive the email shortly!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <div class="logo">
              <img src="/static/img/asti1.png" class="img-responsive">
            </div>
            <h5 class="card-title text-center">Check your inbox.</h5>
            <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %} 
